.card {
  -ms-overflow-x-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;     /* Firefox */

  /* For other browsers like Chrome, Safari, and Edge */
  &::-webkit-scrollbar {
    display: none;
  }
}